/* BASIC SETUP  */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    font-family: 'latio', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    color: #6d6d6d;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom:1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------*/
/*    REUSABLE COMPONENTS   */
/*--------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

/*---------HEADINGS--------*/


h1 {
    font-family: 'Source Sans Pro';
    font-size: 180%;
    font-weight: 600;
}


h2 {
    font-family: 'Source Sans Pro';
    font-size: 150%;
    font-weight: 400;
}

h3 {
    font-family: 'Source Sans Pro';
    font-size: 90%;
    font-weight: 400;
}

/*--------------------------*/
/*           HEADER         */
/*--------------------------*/

.nav {
    background-color: #424242;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

.nav li {
    display: inline-block;
    margin-right: 25px;
}

.nav ul { 
    display: block;
    margin-left: 60%;
    
}

.search-section {
    position: relative;
    padding: 20px 0;
    background-image: linear-gradient(#ffffff, #ebebeb);
    height: 130px;
}

.search-section .logo {
    margin-left: 7%;;
}

.search-bar {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: 42px;
    background-color: #79b260;
    margin-left: 5%;
    border-radius: 4px;
}

.search-icon {
    float: right;
    position: absolute;
    right: 21%;
    top: 20%;
}

.search-bar h2 {
    float: right; 
    margin: 0 6px; 
    color: #fff;
}

.search-section form {
    position: absolute;
    left: 0.5%;
    float: left;
    display: block;
    height: 36px;
    width: 65%;
    display: block;
    margin: 3px 0;
}

.search-bar input {
    margin-left: 1px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 100%;
}

*:focus {
    outline: none;
}

.cart {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    width: 18%;
    height: auto;
    display: block;
    border-right: 2px solid #c4c4c4;
    padding-right: 1%;
}

.cart img {display: inline-block;}

.cart h2 {
    margin: 0 3%;
    display: inline-block;
}

.cart h3 {display: inline-block;}

.cart h1 {
    display: inline-block;
    color: #6d6d6d;
}

.cart p {color: #fff;}

.cart .checkout {
    display: inline-block;
    margin-left: 7%;
    padding: 3%;
    background-image: linear-gradient(#414141,#232323);
    box-shadow: -1px -1px 1px #232323;
    border-radius: 2px;
}

.wishlist {
    display: block;
    position: relative;
    /top: 50%;
    transform: translateY(-90%);
    left: 90%;
    width: 9%;
}

.wishlist img {
    display: inline-block;
    margin-left: 23%;
    width: 40px;
}

.number-20 {
    display: inline-block;
    margin-left: 6px;
    padding: 0 7%;
    background-color: #79b260;
    border-radius: 20px;
}

.wishlist h3 {color: #fff;}

.nav2 {
    height: 40px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.nav2 ul {
    height: 100%;
    text-align: center;}

.nav2 li {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    white-space: nowrap;
    margin-left: 0.5%;
    padding: 0 1%;
    transition: background 5s;
}

.nav2 li:hover {
    color: #fff;
    background-image: linear-gradient(#92d673 , #7ab361);
}



/*--------------------------*/
/*          Display         */
/*--------------------------*/

.display {display: block;}

.whole-display {
    display: block;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.big-display {
    display: block;
    position: relative;
    background-image: url(IMG/Bigdisplay.png);
    min-height: 304px;
    min-width: 714px;
}

.big-display .left,
.right {
    display: block;
    background-color: rgba(47, 47, 47, 0.5);
    padding: 3px 8px;
    border-radius: 100%;
    position: absolute;
    top: 45%;
}

.big-display .left {left: 18px;}

.big-display .right {right: 18px;}

.small-display {
    display: block;
    background-image: url(IMG/deal%20of%20the%20month.png);
    min-height: 305px;
    min-width: 269px;
    background-repeat: no-repeat;
}

